<smartHomeServer>
	<settings>
		<rcSwitch-piLocation>/home/pi/rcswitch-pi</rcSwitch-piLocation>
	</settings>
	<device>
		<deviceType>RadioSocket</deviceType>
		<name>test1</name>
		<systemCode>11111</systemCode>
		<deviceCode>4</deviceCode>
	</device>
	<device>
		<deviceType>RadioSocket</deviceType>
		<name>test2</name>
		<systemCode>11111</systemCode>
		<deviceCode>3</deviceCode>
	</device>
	<device>
		<deviceType>RadioSocket</deviceType>
		<name>test3</name>
		<systemCode>11111</systemCode>
		<deviceCode>2</deviceCode>
	</device>
</smartHomeServer>
